* {
    margin: 0px;
    padding: 0px;
    border: 20px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px 50px;
    background-repeat: no-repeat;
    background-size: cover;
     position: absolute;     
     top: 50;    
  width: 100%;  
  z-index: 100;          

}

.logo {
    color: rgb(117, 2, 102);
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navon a {
    text-decoration: none;
    color: rgb(117, 2, 102);
    font-size: 18px;

}

.navon a:hover {
    color: rgb(247, 7, 215);
    font-size: 20px;

}
.munn{
    display: grid;
    grid-template-areas: "foot foot foot foot foot foot";
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr ;
    padding: 10px;
    gap: 10px;
    background-color: pink;
    color: black;
    text-align: center;
    grid-gap: 0.2em;
}
.h{
    background-image: url(../image/image\ copy.png);
    background-position: center;
    background-size: cover;
    color: black;
    padding: 15%;
    text-align: center;
    
}
.p{
    display: flex;
    text-align: center;
    padding: 10px;
    gap: 60px;
    justify-content: center;
    
}
UL{
    list-style: none;
    
}
h1{
    text-align: center;
    justify-content: center;
}
.photo{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.photo img{
    width: 32%;
    height: auto;
    object-fit: cover;
}
h2{
    text-align: center;
    justify-content: center;
}
@media(max-width:600px){
    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px 50px;
    background-repeat: no-repeat;
    background-size: cover;
     position: absolute;     
     top: 50;    
  width: 100%;  
  z-index: 100;          

}
.h{
    background-image: url(../image/image\ copy.png);
    background-position: center;
    background-size: cover;
    color: black;
    padding: 15%;
    text-align: center;
    
}
.p{
    display: flex;
    text-align: center;
    padding: 10px;
    gap: 60px;
    justify-content: center;
    
}
.photo{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.munn{
    display: grid;
    grid-template-areas: "foot foot foot foot foot foot";
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr ;
    padding: 10px;
    gap: 10px;
    background-color: pink;
    color: black;
    text-align: center;
    grid-gap: 0.2em;
}



}
@media(max-width:900px){
     .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px 50px;
    background-repeat: no-repeat;
    background-size: cover;
     position: absolute;     
     top: 50;    
  width: 100%;  
  z-index: 100;          

}
.h{
    background-image: url(../image/image\ copy.png);
    background-position: center;
    background-size: cover;
    color: black;
    padding: 15%;
    text-align: center;
    
}
.p{
    display: flex;
    text-align: center;
    padding: 10px;
    gap: 60px;
    justify-content: center;
    
}
.photo{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.munn{
    display: grid;
    grid-template-areas: "foot foot foot foot foot foot";
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr ;
    padding: 10px;
    gap: 10px;
    background-color: pink;
    color: black;
    text-align: center;
    grid-gap: 0.2em;
}



}
@media(max-width:768px){
     .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px 50px;
    background-repeat: no-repeat;
    background-size: cover;
     position: absolute;     
     top: 50;    
  width: 100%;  
  z-index: 100;          

}
.h{
    background-image: url(../image/image\ copy.png);
    background-position: center;
    background-size: cover;
    color: black;
    padding: 15%;
    text-align: center;
    
}
.p{
    display: flex;
    text-align: center;
    padding: 10px;
    gap: 60px;
    justify-content: center;
    
}
.photo{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.munn{
    display: grid;
    grid-template-areas: "foot foot foot foot foot foot";
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr ;
    padding: 10px;
    gap: 10px;
    background-color: pink;
    color: black;
    text-align: center;
    grid-gap: 0.2em;
}



}



