.mon-fond{
    background-image: url('image/image.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px;
    text-align: center;
    
    margin: 50p;
    overflow-x: auto;
    padding: 100px;
    margin: 10px;
}
.different-prix{
    display: grid;
    grid-template-areas: "mes-prix mes-prix mes-prix"
    "prix prix prix";
    grid-template-columns: 5fr 5fr 5fr;
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 10px;
    

}
ul{
    list-style: none;
    
    
}
.mes-prix{
    text-align: center;



}
.p{
    background-color: antiquewhite;
    border: 20px;
}
.A1{
    list-style: none;
    text-align: center;
    display: flex;
    gap: 60PX;
    justify-content: center;
    flex-direction: row;
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;

}
.link{
    color: rgb(114, 23, 23);
}
.b1{
    flex-direction: row;
    display: grid;
    text-align: center;
    grid-template-areas: " a a";
    background-color: pink;
}
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:'arial', sans-serif; 
}
.hero-section{
    background-image: url('../image/image\ copy.png');
    background-position:center ;
    background-size: cover;
    color: white;
    padding: 9.2%;
    text-align: center;
    margin: 10px;
    overflow-x: auto;   
}
@media(max-width:768px){
        .hero-section{
        flex-direction: column;
        text-align: center;
    }
}
.hero-overlay{
    position:absolute;

top:0;
left: 0;
width: 100%;
height: 100%;

z-index: 1;

}
@media(max-width:768px){
        .hero-overlay{
        flex-direction: column;
        text-align: center;
    }
}
hero-content{
    position: relative;
    z-index: 2;
    color: #ffffff;
    max-width: 800px;
    padding: 20px;

}
@media(max-width:768px){
        .hero-content
        {
        flex-direction: column;
        text-align: center;
    }
}

.hero-title{
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
@media(max-width:768px){
        .hero-title {
        flex-direction: column;
        text-align: center;
    }
}
.hero-description{
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-bottom: 35px;
    font-weight: 300;

}
@media(max-width:768px){
        .hero-description
        {
        flex-direction: column;
        text-align: center;
    }
}
.hero-btn{
    display: inline-block;
    background-color: #e50914;
    color: #ffffff;
    padding: 12px 35px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    transition: background-color 0.3s ease , transform 0.2s ease;
}
@media(max-width:768px){
        .hero-btn
        {
        flex-direction: column;
        text-align: center;
    }
}
.hero-btn:hover{
    background-color: #b80710;
    transform: scale(1.05);
}
.contenair{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 40px 50px;
    gap: 50px;

}
.left-column{
    flex: 1;
    min-height: 300px;

}
.left-column h2{
    font-size: 42px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: black;

}
.left-column p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.6;
    color: black;
}
right-column{
     flex: 1;
    min-height: 300px;
}
@media(max-width:768px){
        .right-column{
        flex-direction: column;
        text-align: center;
    }
}
price-list{
    list-style: none;
    

}
.icon{
    font-size: 28px;
    margin-right: 15px;
    color: #b3104c;

}
.price{
    margin-left: 10px;
    color: #ffffff;

}
@media(max-width:768px){
    .contenair{
        flex-direction: column;
        text-align: center;
    }
}
.price-list li{
    justify-content: center;

}
.navbar{
    padding: 20px;
    overflow-y: scroll;
    overflow-x: auto;
}
*{

    margin: 0;
    padding: 0;
}
body{
    font-family: 'roboto', sans-serif;
    background-color: pink;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}.navbar{
    display: flex;
    justify-content: space-between;
    align-items: 20px 50px;
    background-color: (11,7,26,0.9);

}
.left-column h3{
     font-size: 42px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.cours h2{
      font-size: 42px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;

}
@media(max-width:768px){
        .cours h2{
        flex-direction: column;
        text-align: center;
    }
}
.cours{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.6;
    color: black;
    display: flex;
}
 @media(max-width:768px){
        .cours{
        flex-direction: column;
        text-align: center;
    }
}
.gallery-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    width: 100%;
}
@media(max-width:768px){
        .gallery-container{
        flex-direction: column;
        text-align: center;
    }
}
.gallery-items{
    position: relative;
    flex: 1;
    height: 350px;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    transition: flex 0.5s ease,filter 0.5s ease;
}
.gallery-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6) grayscale(0.2);
    transition: transform 0.5s ease, filter 0.5s ease;


}
.pratique{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 7, 26, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;

}
.pratique span{
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 2px solid #b3104c;
    padding-bottom: 5px;
}
* {
    margin: 0px;
    padding: 0px;
    border: 20px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute;     */
    /* top: 50;    
  width: 100%;  
  z-index: 100;          */

}
.logo {
    color: rgb(117, 2, 102);
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navon a {
    text-decoration: none;
    color: rgb(117, 2, 102);
    font-size: 18px;

}
.navon a:hover {
    color: rgb(247, 7, 215);
    font-size: 20px;

}

.headings {
    font-size: 30px;
    font-family: cursive;
    background-position: top;
    font-size: 120px;
    color: #74196f;
    padding-left: 50px;

}
 }
      .real {
     display: flex;
     gap: 50px;
     background-color: lightpink;
     width: max-content;
     margin: 10px;
     text-align: center;
  }
  @media(max-width:768px){
        .real{
        flex-direction: column;
        text-align: center;
    }
}
  .Fen{
    /*  text-align: center; */
    display: row;
    /* padding: 40px; */
     background:rgba(0, 0, 0, 0, 0.08); 
     padding: 100px 39px;
     background-size: cover;
      backdrop-filter: contrast(1.5); 
      width: max-content; 
      padding: 30px; 
   
 }
  .munn {
     color: black;
     display: flex;
     gap: 80px;
     width: max-content;
     
 }
  @media(max-width:768px){
        .munn{
        flex-direction: column;
        text-align: center;
    }
}
 body{
    font-size: 14px;
    margin: auto;
 }
  @media(max-width:768px){
        body{
        flex-direction: column;
        text-align: center;
    }
}
 nav{
    display: none;
 }










