* {
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
}
main{
    padding: 10px;
  background-color: lightpink;
}
/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    color: rgb(117, 2, 102);
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navon a {
    text-decoration: none;
    color: rgb(117, 2, 102);
    font-size: 18px;

}

.navon a:hover {
    color: rgb(247, 7, 215);
    font-size: 20px;

}

.msec{
  background-image: url('../image/téléchargement\ \(2\).jpg');
    background-repeat: no-repeat; 
    background-size:cover ;
    background-position:center;
    width: 100%;
    height: 780px;
    text-align:center;
    justify-content: center;
    padding-top:400px;
    font-size: 1.7rem;
    color: white;

}
.sec1{
    display: grid;
    grid-template-areas: "mdiv ndiv";
    grid-template-columns: 5fr 5fr;
    font-size: 1.5rem;
    flex-wrap: wrap;
    padding: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     background-color: white;
     gap: 10px;
}
.img1{
   height: 850px;
}

.p1 {
    font-size: 1.7rem;
}
.div1 {
    display: grid;
    grid-template-areas: "div2 divph";
    grid-template-columns: 2fr 2fr;
    font-size: 1.5rem;
     flex-wrap: wrap;
     background-color: white;
     padding: 10px;
}
.container {
    display: grid;
    grid-template-areas: "lsec lsec"
    "content content content content";
    grid-template-columns: fr 4fr 4fr 4fr ;
    font-size: 1.5rem;
     flex-wrap: wrap;
     gap: 10px;


   
}
div.lsec{
    grid-row: auto;
    text-align: center;
}

.container div.content {
    text-align: center;
   }

   .img2{
    height: 200px;
    padding: 8px;
    background-color: white;
    border: 5px solid lightpink;

   }
   .img3{
    height: 200px;
    padding: 8px;
    width: 300px;
    border: 5px solid white;

   }
.contain{
    display: grid;
    grid-template-areas: " md md " 
    "dd dd dd";
    grid-template-columns: 1fr 1fr ;
    /* font-size: 1.5rem; */
     flex-wrap: wrap;
      text-align: center;
      background-image:
      url('../image/Vision\ Board\ Fitness.jpg');
    background-repeat: no-repeat; 
    background-size:cover ;
    background-position:center;
    padding: 10px;
    gap: 7px;
    color:white;
    position: sticky;
    
}
.psec{
    font-size: 1.5rem;
    padding: 10px;
    border: 8px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}
.contain div.dd1{
    justify-items: left;
}
.sec2 {
    background-color: aliceblue;
    padding:20px;

}

.div22{
    padding: 50px;
}
.op{
    border: 1px solid black;
    height: 25%;
    width: 50%;
}

.munn {
    display: grid;
    grid-template-areas: "foot foot foot foot foot foot ";
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr ;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    gap: 5px;
}
footer{
    background-color:#F8EEF2;
}

.contain  {
  display: grid;
  gap: 1rem;
  grid-template-columns:1fr 1fr;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* desktop */
  gap: 1.25rem;
}

/* smaller screens */
@media (max-width: 900px) {
  .container
{
    grid-template-columns: 1fr 1fr; /* stack */
  }
  .contain{
    grid-template-columns: 1fr 1fr ;
  }
  .munn{
    display: grid;
    grid-template-columns: repeat(3 ,3fr);
  }
}
@media (max-width: 600px) {
  .container{
    gap: 0.5rem;
    grid-template-columns: 1fr;

  }
  .contain{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  .sec1{
    display: grid;
    grid-template-areas: "mdiv"
    "ndiv";
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  .munn{
    grid-template-areas: "foot foot";
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    font-size: 14px;
    text-align: left;
  }
  .navbar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;

  }
  .div1{
    display: grid;
    grid-template-areas: "div2"
    "divph";
    grid-template-columns: 1fr;
  }

}

