 * {
     width: 100%;
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
      flex-flow: border-box;
     border-radius: 20px; 
     text-wrap: wrap;
 }

 .tik {

     border-radius: 30px;
     border: size 30px;
     padding-top: 7%;
     padding-bottom: 7%;
     width: 40%;
     height: auto;
     list-style: none;
 }
 .Den{
    padding: 40px;
 }



 .tik li {
     font-size: 20px;
      margin-bottom: 10px; 
     color: aliceblue;

 }

 .tik li::before {
     content: "✔";
     /*remove the dotes*/
     color: #ff4fa3;
      margin-right: 10px; 


 }

 .right {
     border: solid lightgray;
     /* border-width: 100%; */
     background-color: lightgrey;
     background-size: cover;
     /* width: 800px; */
     /* height: 200px; */
 }

 .img1 {
     width: 500px;
     height: 600px;
 }

 .stuc {
     color: #ff4fa3;
     
 }

 .stuc p {
     color: lightpink;
    
 }


 .photo {
     display: flex;
     /*h2 also*/
     gap: 200px;
 }

 .colo {
     color: deeppink;
     text-align: center;
 }

 /*Barre de nvigation*/
 .doron {
     display: flex;
     justify-content: space-between;
     text-align: center;
     background-image: url("../photos/_\ Yoga\ Aesthetic.jpg");
     background-size: cover;
     padding: 105px 30px;
     padding-top: 30px;
     padding-bottom: 70px;  
      text-decoration: underline; 
      background-repeat: no-repeat; 
     list-style: none;
     width: max-content;
     text-wrap: wrap;
     gap: 105px;
 }


 

 .cool {
     color: #ff4fa3;
     text-align: center;
 }

 img {
     width: max-content;
     height: max-content;
 }

 .real {
     display: flex;
     gap: 50px;
     background-color: lightpink;

 }

 .munn {
     color: aliceblue;
     display: flex;
     gap: 50px;
     width: max-content;
 }

 .munn h3 {
     color: #d4a76a;
 }

 .quenn {
     color: lightslategray;
     font-size: x-large;

 }

 /*Background video*/
 #bg-video {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: -1;
 }

 .mind {
     color: #ff4fa3;
     text-decoration: dashed;
 }

 .transparent {
     display: flex;
     gap: 100px;
     padding: 30px;
 }

 .btn {
      background-color: lightpink; 
 }

 .rel {
     color: blue;
    
 }


.Fen{
    /*  text-align: center; */
    display: row;
    padding: 40px;
     background:rgba(0, 0, 0, 0, 0.08); 
     padding: 100px 39px;
     background-size: cover;
      backdrop-filter: contrast(1.5);   
   
 }
 .row{
     color: pink; 
     font-size: xx-large;
 }
 .Fen p{
    color: white;
    font-size: larger;
 }
 .ren{
    color: aliceblue;
 }
 .moli{
    padding: 60px;
    color: aliceblue;
    align-items: center;
    font-size: larger;
 }
 .fill{
    display: flex;
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center; 
    color: white; 
      animation: glisseApparition 3s ease-in-out infinite; 
       }
.ull{
    display: grid;
    grid-template-areas:"cool" "main main main ";
     grid-template-columns:  4fr 4fr 4fr; 
   gap: 6px;
   /* padding-left: 30px;
   padding-right: 20px;  */
    flex-wrap: wrap;
    text-align: center;
    /* padding: 10px; */
}

      

    button{
        appearance: auto;
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: normal;
        }

 

 @media ( max-width :320px ){
  .btn,.colo,.cool,.Den,.doron,.Fen,.fill,.img1,.lonn,.main,.mind,.mind,.moli,.moli,.munn,.photo,.quenn,.real,.rel,.ren,.right,.row,.stuc,.tik,.transparent,.ull,
 
 /* .img1 {
      width: auto;  
     height: auto;
      lenght: auto; 
      padding-left: 20px;
      background-size: cover;  */
 }
 .doron {
     display: flex;
     justify-content: space-between;
     text-align: center;
     background-image: url("../photos/_\ Yoga\ Aesthetic.jpg");
     background-size: cover;
      padding: 700px 150px; 
      padding-top: 30px; 
      padding-bottom: 70px;  
     text-decoration: underline; 
     background-repeat: no-repeat;
     list-style: none;
          gap: 100px;
     width: max-content;
     text-wrap: wrap;
 }
 .munn {
     color: aliceblue;
     display: flex;
     gap: 80px;
     width: max-content;
 }
  .tik {

     background-size: cover;
      border-radius: 30px;
     border: size 30px;
     padding-top: 7%;
     padding-bottom: 7%;
     width: 40%;
     height: auto;
     list-style: none;
     }
     img {
     width: 200px;
     height: 200px;
      background-size: cover; 
      text-wrap: wrap;
 }
 #bg-video {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
     }
 
    .ull {
     display: grid;
     grid-template-areas: "lonn lonn"
         "main main";
     grid-template-columns: 4fr 4fr 4fr;
     gap: 6px;
      /* padding-left: 60px; 
      padding-right: 60px;  */
       background-size: cover;  }
    .main{
    border:transparent 20px; 
   padding: 70px;
   
    }
     .real {
     display: flex;
     gap: 50px;
     background-color: lightpink;
     width: max-content;

 }
 .Fen{
    /*  text-align: center; */
    display: row;
    padding: 40px;
     background:rgba(0, 0, 0, 0, 0.08); 
     padding: 100px 39px;
     background-size: cover;
      backdrop-filter: contrast(1.5); 
      width: max-content;  
   
 }

  }
 @media ( max-width :375px ){
  .btn,.colo,.cool,.Den,.doron,.Fen,.fill,.img1,.lonn,.main,.mind,.mind,.moli,.moli,.munn,.photo,.quenn,.real,.rel,.ren,.right,.row,.stuc,.tik,.transparent,.ull,
 
 /* .img1 {
     width: max-content; 
     height: max-height ;
     background-size: cover; */
 }
 .doron {
     display: flex;
     justify-content: space-between;
     text-align: center;
     background-image: url("../photos/_\ Yoga\ Aesthetic.jpg");
     background-size: cover;
       padding: 700px 150px; 
      padding-top: 30px; 
      padding-bottom: 70px;  
     text-decoration: underline; 
     background-repeat: no-repeat;
     list-style: none;
     gap: 100px;
     width: max-content;
     text-wrap: wrap;
 }
  .tik {
 border-radius: 30px;
     border: size 30px;
     padding-top: 7%;
     padding-bottom: 7%;
     width: auto;
     height: auto;
     background-size: cover;
    
     }
     img {
     width: 200px;
     height: 200px;
     background-size: cover;
 }
 #bg-video {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%; }
 
    .ull {
     display: grid;
     grid-template-areas: "lonn lonn"
         "main main";
     grid-template-columns: 4fr 4fr 4fr;
     gap: 6px;
      /* padding-left: 60px; 
      padding-right: 60px;  */
     background-size: cover;
     padding: 70px; 
     
    }
    .main{
    border:transparent 20px; 
   padding: 20px;
   
   
 }
      .real {
     display: flex;
     gap: 50px;
     background-color: lightpink;
     width: max-content;

  }
  .Fen{
    /*  text-align: center; */
    display: row;
    /* padding: 40px; */
     background:rgba(0, 0, 0, 0, 0.08); 
     padding: 100px 39px;
     background-size: cover;
      backdrop-filter: contrast(1.5); 
      width: max-content; 
      padding: 30px; 
   
 }
  .munn {
     color: aliceblue;
     display: flex;
     gap: 80px;
     width: max-content;
 }